BIMRL_ETL.XplorerPlugin/bin/
BIMRL_ETL.XplorerPlugin/obj/
BIMRL_ETLConfig.XplorerPlugin/bin/
BIMRL_ETLConfig.XplorerPlugin/obj/
BIMRL_ETLDB/bin/
BIMRL_ETLDB/obj/
BIMRL_Main.XplorerPlugin/bin/
BIMRL_Main.XplorerPlugin/obj/
BIMRLCommon/bin/
BIMRLCommon/obj/
BIMRLDiffModelsCmd/bin/
BIMRLDiffModelsCmd/obj/
BIMRLDiffModelsUI/bin/
BIMRLDiffModelsUI/obj/
BIMRLGeomTester/bin/
BIMRLGeomTester/obj/
BIMRLGraph/bin/
BIMRLGraph/obj/
BIMRLGraphTest/bin/
BIMRLGraphTest/obj/
BIMRLMisc/bin/
BIMRLMisc/obj/
packages/
*~
BIMRL_Main-Standalone/bin/Debug/BIMRL_ETLDB.dll
BIMRL_Main-Standalone/bin/
BIMRLCmdTools/bin/
BIMRLCommon/bin_ora/
BIMRLDiffModelsCmd/bin_ora/
BIMRLDiffModelsUI/bin_ora/
BIMRLGeomTester/bin_ora/
BIMRLGraph/bin_ora/
BIMRLGraphTest/bin_ora/
BIMRLMisc/bin_ora/
ImportBimpk/bin/
ImportBimpkCmd/bin/
BIMRL_Main.XplorerPlugin/bin_ora/
BIMRL_ETLDB/bin_ora/
BIMRL_ETLConfig.XplorerPlugin/bin_ora/
BIMRL_ETL.XplorerPlugin/bin_ora/
